@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */
* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
.btn {
  padding: 21px 32px 21px 32px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: none;
  background: rgb(82, 195, 3);
  cursor: pointer;
}
.btn-con {
  text-align: center;
}
#hero {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("../assets/hero-bg.png");
  height: 919px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#hero .herocontent {
  width: 1000px;
}
#hero .herocontent .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
#hero .herocontent .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14px;
}
#hero .herocontent .desc {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 32px;
}

#card-box {
  width: 1320px;
  margin: 100px auto;
}
#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 16px;
}

#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .info {
}
.card-container {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card {
  max-width: 424px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}
.card .image-box {
  width: 424px;
}
.card .image-box img {
  width: 100%;
}
.card .shopp {
  text-align: center;
  padding: 12px 18px 12px 18px;

  border-radius: 8px;

  background: rgba(10, 107, 6, 0.15);
}
